<!-- tableGestionSecteurTlCodeErreur.twig -->
<div class="panel-group" id="accordionSecteurTlCodeErreur" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSecteurTlCodeErreur">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSecteurTlCodeErreur" aria-expanded="true" aria-controls="collapseSecteurTlCodeErreur">
                <h4 class="panel-title">
                    {% trans "Secteurs / Codes erreur" %} <span class="badge">{% trans "liaison" %}</span>
                </h4>
            </a>
        </div>
        <div id="collapseSecteurTlCodeErreur" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSecteurTlCodeErreur">
            <div class="panel-body">
                <!-- SOCIETE -->
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6"{% if (session.FBX_USER_SU != '1') %} hidden="hidden" {% endif %}>
                    <label class="control-label" for="SelectSocieteSecteurTlCodeErreur">{% trans "Societe" %}</label>
                    <select class="form-control" id="SelectSocieteSecteurTlCodeErreur"
                            onchange="getSelectSocieteTlSecteur(this,'SelectSecteurSecteurTlCodeErreur');
                                      getSelectSocieteTlCodeErreur(this,'SelectCodeErreurSecteurTlCodeErreur');">
                        <!-- elements/elementsSelect.twig -->
                    </select>
                </div>
                <!-- MENU -->
                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label class="control-label" for="SelectSecteurSecteurTlCodeErreur">{% trans "Secteur" %}</label>
                    <select class="form-control" id="SelectSecteurSecteurTlCodeErreur" onchange="getTableSecteurTlCodeErreur(this.value,$('#SelectSocieteSecteurTlCodeErreur').val());">
                        <!-- elements/elementsSelect.twig -->
                    </select>
                </div>
                <!-- PAGE -->
                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" id="tableSecteurTlCodeErreur">
                    <!-- elements/tableLiaisonSecteurTlCodeErreur.twig -->
                </div>
            </div>
        </div>
    </div>
</div>